.light {
  --q-card-head: #f5f5f5;
  --q-card-head-hover: #e7e7e7;
  --q-card: #ffffff;
  --q-page: #ffffff;
  --q-primary: #002e5c;
  --q-secondary: #009fdd;
  --q-text: #000000;
  --q-subtext: #838383;
  --q-warning: #f2c037;
  --q-positive: #21ba45;
  --q-negative: #c10015;
}

.dark {
  --q-card-head: #212121;
  --q-card-head-hover: #383838;
  --q-card: #181818;
  --q-page: #121212;
  --q-primary: #009fdd;
  --q-secondary: #002e5c;
  --q-text: #ffffff;
  --q-subtext: #bababa;
  --q-warning: #b5902a;
  --q-positive: #21ba45;
  --q-negative: #c10015;
}

.hidden {
  display: none;
}

table.dataTable td {
  word-break: break-word;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--q-page);
  color: var(--q-text);
  font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

/*Cards*/
.card {
  background-color: var(--q-card);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card-header {
  background-color: var(--q-card-head);
  border: none;
  color: var(--q-primary);
  font-size: 15px;
  height: 35px;
  outline: none;
  padding: 10px 18px;
  text-align: left;
  width: 100%;
}

.collapsible {
  cursor: pointer;
}

.collapsible::after {
  color: var(--q-text);
  content: "\002B";
  float: right;
  font-weight: bold;
  margin-left: 5px;
}

.collapsible.active::after {
  content: "\2212";
}

.active,
.collapsible:hover {
  background-color: var(--q-card-head-hover);
}

.content {
  background-color: var(--q-card);
  display: none;
  overflow: hidden;
  padding: 0 18px;
}

/*Back to top*/
.top-of-page-link svg {
  -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
}

.top-of-page-link {
  bottom: 0.2rem;
  position: fixed;
  right: 1rem;
  transition: 0.2s;
  z-index: 15;
}

/*Custom*/
.car-header {
  display: block;
  margin-top: 5px;
  min-height: 40px;
  text-align: left;
}

.charts {
  max-height: 335px;
}

.tables {
  display: grid;
  gap: 10px;
  grid-template-columns: 66% 33%;
  padding-top: 20px;
}

#individual_file_size_chart {
  order: 2;
}

#individual_file_size_chart .card {
  position: relative;
}

#history_completed_tasks_table tbody tr {
  cursor: pointer;
}

#history_completed_tasks_table_wrapper {
  order: 1;
}

.q-badge {
  border-radius: 4px;
  color: #fff;
  display: inline;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  min-height: 12px;
  padding: 2px 6px;
  vertical-align: text-top;
}

.q-badge.success {
  background: var(--q-positive);
}

.q-badge.success::after {
  content: "Success";
}

.q-badge.failed {
  background: var(--q-negative);
}

.q-badge.failed::after {
  content: "Failed";
}

.basename .name {
  text-decoration: underline dashed;
}

/* Responsive columns */
@media screen and (max-width: 940px) {
  .top-content {
    position: inherit;
  }

  .q-badge.success::after {
    content: "✔";
  }

  .q-badge.failed::after {
    content: "✖";
  }

  .tables {
    gap: 0;
    grid-template-columns: 100%;
    padding-top: 0;
  }

  #individual_file_size_chart {
    order: 1;
  }

  #individual_file_size_chart .card {
    position: static;
  }

  #history_completed_tasks_table_wrapper {
    order: 2;
  }

  #history_completed_tasks_table_wrapper,
  #individual_file_size_chart {
    padding-top: 20px;
  }
}
